@media (max-width: 1700px) {
    .heroTitle>h1 {
        font-size: 9rem;
        letter-spacing: 0.5rem;
    }
}

@media (max-width: 1500px) {
    .heroTitle>h1 {
        font-size: 8rem;
        letter-spacing: 0.5rem;
    }

    .contextText1 {
        margin-top: 30rem;
        margin-left: 45rem;
    }

    .contextText2 {
        margin-top: 32rem;
        margin-left: 20rem;
    }

    .contextText3 {
        margin-top: 34rem;
        margin-left: 45rem;
    }

    .contextText4 {
        margin-top: 32rem;
        margin-left: 20rem;
    }

    .catCard {
        height: 35rem;
    }
}

@media (max-width: 1200px) {
    .heroTitle>h1 {
        margin-top: 3rem;
        font-size: 7rem;
        letter-spacing: 0.5rem;
    }

    .contextText1 {
        margin-top: 30rem;
        margin-left: 25rem;
    }

    .contextText2 {
        margin-top: 32rem;
        margin-left: 20rem;
    }

    .contextText3 {
        margin-top: 37rem;
        margin-left: 30rem;
    }

    .contextText4 {
        margin-top: 32rem;
        margin-left: 15rem;
    }

    .nft {
        padding-left: 5rem;
        grid-template-columns: 4fr 5fr;
    }

    .nftText>h1 {
        font-size: 5rem;
    }

    .curosolTitle {
        font-size: 7rem;
        letter-spacing: 0.5rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1101.98px) {
    .heroTitle>h1 {
        font-size: 6rem;
        letter-spacing: 0.5rem;
    }
}

@media (max-width: 991.98px) {
    .theLore {
        gap: 8rem;
    }

    .heroTitle>h1 {
        font-size: 5rem;
        letter-spacing: 0.5rem;
    }

    .heroImg {
        height: 100svh;
    }

    .heroNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contextText1 {
        margin-top: 30rem;
        margin-left: 12rem;
    }

    .contextText2 {
        margin-top: 32rem;
        margin-left: 15rem;
    }

    .contextText3 {
        margin-top: 37rem;
        margin-left: 2rem;
    }

    .contextText4 {
        margin-top: 32rem;
        margin-left: 10rem;
    }

    .contextText>h1 {
        font-size: 8rem;
        line-height: 10rem;
    }

    .contextText>div>h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .contextText>div>p {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.3rem;
    }

    .socialCon>h1,
    .socialCon>h1>span {
        font-size: 5rem;
        line-height: 5rem;
        text-align: center;
    }

    .socialCon>form {
        width: 45rem;
        height: 6rem;
    }

    .socialCon>form>input {
        color: white;
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    .socialCon>form>button {
        font-size: 1.5rem;
        padding-inline: 3rem;
    }

    .modelTextCon {
        position: absolute;
        top: 10%;
        left: 5%;
    }

    .modelText {
        padding: 1rem;
        position: absolute;
    }

    .modelText>h1 {
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: 0.2rem;
    }

    .modelText>p {
        font-size: 1rem;
        width: 50vw;
        line-height: 1.2rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        padding-block: 0.5rem;
    }
}

@media screen and (max-width: 900px) {

    .StupidBtn,
    .StupidBtn2 {
        display: block;
    }

    .sliderScrollCon {
        overflow: auto;
        scroll-snap-type: x mandatory;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sliderScrollCon::-webkit-scrollbar {
        display: none;
    }

    .catCardCon {
        width: fit-content;
        overflow-x: auto;
        gap: 0.7rem;
    }

    .catCard {
        width: 5rem;
        overflow: hidden;

        height: 30rem;
    }

    .catCard:hover,
    .catCardActive,
    .activeCard {
        width: 19rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
    }

    .catCard:hover>div>h1 {
        transform: rotate(0deg) translateX(0rem) translateY(0%) !important;
        transform-origin: 0% -50% !important;
    }

    .activeCard>p {
        opacity: 0.8;
        margin-top: 1rem;
    }

    .activeCard>div>h1 {
        font-size: 1.7rem;
    }

    .inactiveCard {
        width: 5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .inactiveCard>p {
        opacity: 0;
        margin-top: 0;
    }

    .inactiveCard>div>h1 {
        transform: rotate(-90deg) translateX(-9rem) translateY(-60%) !important;
        font-size: 1.5rem;
    }

    
    .catCard:hover {
        padding-left: 0.7rem;
    }

    .activeCard {
        padding-left: 0.7rem;
        /* padding-right: 0.5rem; */
    }
    .catCard>div>h1 {
        transform: rotate(0deg) translateX(0rem) translateY(0%);
        font-size: 1.5rem;
        text-wrap: nowrap;
        width: 150%;
    }

    .catCard:hover>div>h1 {
        font-size: 1.5rem;
        transform: rotate(0deg) translateX(0rem) translateY(0%);
        transform-origin: 0% -55%;
    }

    .catCard>p {
        font-size: 0.9rem;
        transform: translateY(-10%);
    }

    .curosolTitle {
        font-size: 5.5rem;
        letter-spacing: 0.8rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 767.98px) {
    .theLore {
        gap: 2rem;
        flex-direction: column;
    }

    .thecomicCon>img {
        width: 40vw;
    }

    .loreText {
        align-items: center;
    }

    .heroTitle>h1 {
        margin-top: 1rem;
        line-height: 4.5rem;

        font-size: 4rem;
        letter-spacing: 0.5rem;
    }

    .heroTitle>p {
        font-size: 1.2rem;
        line-height: 1.7rem;

        padding-left: 0;
    }

    .heroTitle {
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 0.5rem;
    }

    .slideContent>h1 {
        font-size: 1.5rem;
        letter-spacing: 0.8rem;
    }

    .contextText1 {
        margin-top: 25rem;
        margin-left: 2rem;
    }

    .contextText2 {
        margin-top: 32rem;
        margin-left: 10rem;
    }

    .contextText3 {
        margin-top: 33rem;
        margin-left: 1rem;
    }

    .contextText4 {
        margin-top: 32rem;
        margin-left: 2rem;
    }

    .contextText {
        gap: 0.5rem;
    }

    .contextText>div {
        margin-top: 1rem;
    }

    .contextText>h1 {
        font-size: 8rem;
        line-height: 8rem;
        letter-spacing: 1rem;
    }

    .contextText>div>h1 {
        font-size: 2.6rem;
        line-height: 2.4rem;

        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    .contextText>div>p {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        line-height: 1.3rem;
    }

    .theLore {
        padding-bottom: 5rem;
    }

    .loreText {
        gap: 1rem;
    }

    .loreText>h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .loreText>p {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        width: 90%;
        line-height: 2rem;
        text-align: center;
    }

    .loreText>a {
        font-size: 1.3rem;
        line-height: 1.3rem;
        letter-spacing: 0;
        padding-inline: 1rem;
        padding-block: 0.6rem;
    }

    .socialCon>h1,
    .socialCon>h1>span {
        font-size: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
    }

    .socialCon>form {
        width: 33rem;
        height: 5rem;
    }

    .socialCon>form>input {
        color: white;
        padding-left: 1rem;
        font-size: 1.3rem;
    }

    .socialCon>form>button {
        font-size: 1.3rem;
        padding-inline: 3rem;
    }

    .curosolTitle {
        font-size: 4.5rem;
        letter-spacing: 0.5rem;
        margin-bottom: 3rem;
    }

    .navCon {
        display: none;
    }
}

@media (max-width: 575.98px) {
    body {
        height: 100lvh;
    }

    .slide {
        height: 100lvh !important;
        position: relative !important;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        /* padding-inline: 1rem; */
    }

    .contextText {
        opacity: 1 !important;
    }

    .heroImg {
        height: 100lvh;
    }

    .thecomicCon>img {
        width: 70vw;
    }

    .contextText2 {
        margin-top: 22rem;
        margin-left: 0rem;
    }

    .heroTitle>h1 {
        margin-top: 0.5rem;
        line-height: 4rem;

        font-size: 3.5rem;
        letter-spacing: 0.5rem;
    }

    .heroTitle>p {
        margin-top: 1rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
        opacity: 0.8;
    }

    .slide1 {
        background-position-x: 30%;
    }

    .slide2 {
        background-position-x: 55%;
    }

    .slide3 {
        background-position-x: 38%;
    }

    .slide4 {
        background-position-x: 37%;
    }
    .contextText>div {
        margin-top: 0;
    }

    .contextText>h1 {
        font-size: 4.5rem;
        line-height: 5rem;
        letter-spacing: 0.5rem;
        -webkit-text-stroke: 2px var(--yellow);
    }

    .contextText>div>h1 {
        font-size: 1.6rem;
        line-height: 2.4rem;

        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    .contextText>div>p {
        margin-top: 0;
        width: 100%;
        text-wrap: balance;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        line-height: 1rem;
    }

    .contextText2>div>p {
        font-size: 0.62rem;
    }

    .contextText4 {
        margin-top: 28rem;
        margin-left: 0rem;
    }

    .contextText4>div>p {
        text-wrap: pretty;
        font-size: 0.62rem;
    }

    .bgTextCon {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .bgText1>*,
    .bgText2>* {
        font-size: 15rem;
        line-height: 20rem;
        letter-spacing: 2rem;
    }

    .nft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 4rem;
    }

    .nftImgCon>img {
        width: 70vw;
    }

    .bgText {
        width: 100vh;
        transform: rotate(-90deg);
    }

    .bgText>h1 {
        font-size: 90vw;
    }

    .nftText {
        display: flex;
        align-items: center;
    }

    .nftText>p {
        width: 100vw;
        text-align: center;
        /* text-wrap: nowrap; */
    }

    .socialCon {
        gap: 3.5rem;
    }

    .socialCon>h1,
    .socialCon>h1>span {
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.2rem;
        text-align: center;
    }

    .socialCon>form {
        width: 24rem;
        height: 4.5rem;
    }

    .socialCon>form>input {
        color: white;
        padding-left: 1rem;
        font-size: 1.1rem;
    }

    .socialCon>form>button {
        font-size: 1.1rem;
        padding-inline: 2rem;
    }

    .modelTextCon {
        position: absolute;
        top: 10%;
        left: 5%;
    }

    .modelText {
        padding: 1rem;
        position: absolute;
    }

    .modelText>h1 {
        font-size: 3.3rem;
        line-height: 3.3rem;
        letter-spacing: 0.2rem;
        text-wrap: nowrap;
    }

    .modelText>p {
        font-size: 0.9rem;
        width: 80vw;
        line-height: 1.1rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        padding-block: 0.5rem;
    }

    .slide {
        width: 100vw;
        height: 100svh;
        overflow: hidden;
        position: relative;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socials {
        height: 100svh;
    }

    .curosolTitle {
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        margin-bottom: 3rem;
    }

    .mobDis {
        display: none !important;
    }

    .catCard {
        height: 28rem;
    }
}
