.catCardCon {
    width: 100%;
    display: flex;
    flex-shrink: 1;
    gap: 0.3rem;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 1rem;
    transition: transform 0.3s ease;
}

.catCard {
    width: 8rem;
    height: 35rem;
    border: 2px solid black;
    border-radius: 1rem;
    transition: all 0.5s ease;

    overflow: hidden;

    background-size: auto 100% !important;
    background-position: 20% !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.catCard:hover {
    width: 20rem;
    padding-left: 2rem;
    padding-right: 1rem;

    background-position: center !important;
}

.catCard:hover>p {
    opacity: 1;
    margin-top: 0.5rem;
}

.catCard:hover>div>h1 {
    font-size: 1.5rem;
    transform: rotate(0deg) translateX(0rem) translateY(0%);
    transform-origin: 0% -50%;
}

.catCard>p {
    font-family: "Gelex";
    font-size: 0.9rem;
    height: 6rem;
    transition: all 1.3s ease;
    opacity: 0;
    text-wrap: pretty;
}

.catCard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%);
    z-index: 5;
}

.catCard>* {
    z-index: 10;
}

.catCard>div>h1 {
    font-family: Anton;
    font-size: 2rem;
    height: 100%;

    letter-spacing: 0.2rem;
    text-transform: capitalize;
    text-wrap: nowrap;

    transition: all 0.3s ease;

    transform: rotate(-90deg) translateX(-9rem) translateY(-40%);
    transform-origin: 0% -100%;
}

.theLore {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 6rem;
}

.loreText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.loreText>h1 {
    font-family: Anton;
    text-align: center;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--yellow);
}

.loreText>p {
    font-family: "Gelex";
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    width: 100%;
    line-height: 2rem;
    text-align: center;
    width: 40vw;
}

.loreText>a {
    font-family: "Gelex";
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 0;

    text-transform: capitalize;
    text-align: center;
    background: var(--yellow);
    text-decoration: none;
    color: black;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.thecomicCon {
    overflow: hidden;
    border-radius: 5px;
}

.thecomicCon>img {
    border-radius: 10px;
    border: 5px solid var(--yellow);
    width: 24vw;
}

.nft {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 5fr 3fr;
    padding-left: 15rem;

    align-items: center;
    justify-content: center;

    position: relative;
}

.nftText {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nftImgCon {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.nftImgCon>img {
    width: 28vw;
}

.AbsStars {
    position: absolute;
    top: 0;
    left: 0;
}

.star1 {
    width: 1.2rem !important;
    top: 2%;
    left: -5%;
}

.star2 {
    width: 1.4rem !important;
    top: 40%;
    left: -25%;
}

.star3 {
    width: 1.7rem !important;
    top: 105%;
    left: 5%;
}

.star4 {
    width: 1rem !important;
    top: 90%;
    left: 104%;
}

.star5 {
    width: 2rem !important;
    top: 42%;
    left: 115%;
}

.star6 {
    width: 2.2rem !important;
    top: -7%;
    left: 97%;
}

.nftText>h1 {
    font-family: Anton;
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--yellow);
}

.nftText>p {
    font-family: "Gelex";
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    width: 100%;
    line-height: 2rem;
    width: 40vw;
}

.nftText>a {
    font-family: "Gelex";
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0;

    width: fit-content;

    text-transform: capitalize;
    text-align: center;
    background: var(--yellow);
    text-decoration: none;
    color: black;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.nftImgCon::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: -13%;
    left: -13%;
    width: 500px;
    height: 500px;
    background-color: #3330e4;
    border-radius: 100%;
    filter: blur(100px);
    opacity: 0.4;
}

.bgText {
    width: 100vw;
    text-align: center;
    position: absolute;
    z-index: -1;
    top: 0;

    display: flex;
    justify-content: space-evenly;
}

.bgText>h1 {
    font-family: "Gelex";
    font-size: 100vh;
    line-height: 100vh;
    width: fit-content;
    color: rgba(0, 0, 0, 0) !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--yellow);

    opacity: 0.1;
}

.socials {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.socialCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: fit-content;
}

.socialCon>h1,
.socialCon>h1>span {
    font-family: Anton;
    font-size: 8rem;
    line-height: 8rem;
}

.socialCon>h1>span {
    background: -webkit-linear-gradient(var(--yellow), #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellow {
    color: var(--yellow);
}

.socialCon>form {
    height: 7.3rem;
    width: 100%;
}

.socialCon>form {
    border-radius: 0.5rem;
    border: 3px solid var(--yellow);
}

.socialCon>form {
    display: flex;
}

.socialCon>form>input {
    width: 100%;
    background: none;
    border: none;
    color: white;
    padding-left: 5rem;
    font-family: Anton;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.socialCon>form>button {
    border: none;
    z-index: 100;
    background: var(--yellow);
    font-family: Anton;
    font-size: 2.5rem;
    padding-inline: 6rem;
}

.links {
    display: flex;

    background: var(--yellow);
    padding-block: 0.5rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

.links>a {
    text-decoration: none;
}

.links>a>img {
    height: 1.6rem;
}

.modelTextCon {
    position: absolute;
    top: 10%;
    left: 5%;
}

.modelText {
    opacity: 0;
    padding: 1rem;
    position: absolute;
}

.modelText>h1 {
    font-family: Anton;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--yellow);

    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

    padding-inline: 0.5rem;
    width: fit-content;
}

.modelText>p {
    font-family: "Gelex";
    font-size: 1.1rem;
    width: 40vw;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--yellow);
    text-wrap: pretty;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;

    border-radius: 10px 10px 0px 0px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.loaderImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loaderImg>img {
    animation: scale 2s linear infinite;
}

.loaderText {
    position: absolute;
    bottom: 15%;
    width: 100vw;
    padding-block: 5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.loaderText>h1 {
    font-family: Anton;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.loaderText>p {
    font-family: "Gelex";
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    opacity: 0.8;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.presaleBtn {
    color: black;
    text-decoration: none;
    background: var(--yellow);
    font-family: Anton;
    text-transform: uppercase;
    font-size: 1.4rem;

    transition: background 0.5s ease;
    padding-inline: 2.5rem;
    padding-block: 0.7rem;
    margin-left: 0.7rem;

    transition: all 0.3s ease;
    position: relative;
}

.presaleBtn:hover {
    scale: 1;
    transform: translateX(3%) translateY(-3%);
}

.heroTitle>p {
    padding-bottom: 1.5rem;
}

.topImgCon {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;

    margin-left: 0.5rem;
}

.TopImg {
    height: 1.6rem;
}

.telegram {
    height: 2rem !important;
}

.colorInvert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
