@font-face {
    font-family: "Gelex";
    src: url("/fonts/Gelix/Gellix-SemiBold.woff");
}

#canvas {
    will-change: contents;
    background: black;
    height: 100vh;
    width: 200vh;
}

.heroSec {
    position: relative;
}

.temp {
    width: 100%;
    height: 100vh;
}

.shadeCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: linear-gradient(-45deg,
            black 25%,
            gray 0px,
            gray 50%,
            black 0px,
            black 75%,
            gray 0px) 0% 0% / 5px 5px;
}

.heroImg {
    width: 100vw;
    height: 100vh;
    background: url("/Aquatica/first.webp");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    z-index: -10;
}

.heroContent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.heroNav {
    width: 100%;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    background: linear-gradient(rgba(0, 0, 0, 1) -60%, rgba(0, 0, 0, 0) 90%);
}

.heroTitle {
    padding-top: 0rem;
    padding-left: 3.5rem;

    padding-top: 4rem;
}

.heroTitle>h1 {
    font-family: Anton;
    font-size: clamp(3rem, 6vw, 8rem);
    line-height: 10rem;
    letter-spacing: 0.5rem;
    text-wrap: balance;
    text-transform: uppercase;
    text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.heroTitle>p {
    font-family: "Gelex";
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 100%;
    line-height: 2rem;
    opacity: 0.8;
    padding-left: 1rem;

    text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.TopSocialCon {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.herofooter {
    position: absolute;
    bottom: 0;
    background: black;
    width: 100vw;
    z-index: 1;
}

.slider {
    display: flex;
    width: 200vw;
    overflow: hidden;
}

.slideContent {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    animation: scrollAnimation 15s linear infinite;
}

.slideContent>h1 {
    font-family: Anton;
    font-smooth: always;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    color: var(--yellow);
    font-style: italic;
}

.hollow {
    color: rgba(0, 0, 0, 0) !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--yellow);
}

.slideContent>img {
    height: 1.2rem;
    margin-inline: 2rem;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scollbody {
    will-change: contents;
}

.slide {
    width: 100vw;
    height: 100lvh;
    overflow: hidden;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    will-change: scroll-position;
}

.slide1 {
    z-index: 100;

    background: url("/Aquatica/second.webp");
    background-size: cover;
}

.slide2 {
    background: url("/Aquatica/third.webp");
    background-size: cover;
    z-index: 200;
}

.slide3 {
    background: url("/Aquatica/fourth.webp");
    background-size: cover;
    z-index: 300;
}

.slide4 {
    background: url("/Aquatica/fifth.webp");
    background-size: cover;
    z-index: 400;
}

.slide5 {
    background: #172832;
    z-index: 500;
}

.slide6 {
    z-index: 600;
}

.slide7 {
    z-index: 700;
    background: black;
}

.slide8 {
    z-index: 800;
    background: black;
}

.slide9 {
    z-index: 900;
    background: black;
}

.contextText {
    opacity: 0;
    display: flex;
    gap: 1.5rem;
    position: relative;
    z-index: 10;
    width: fit-content;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    padding: 1rem;
}

.contextText>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}

.contextText>h1 {
    font-family: Anton;
    color: var(--yellow);
    font-size: 8rem;
    line-height: 10rem;


    color: rgba(0, 0, 0, 0) !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--yellow);
}

.contextText>div>h1 {
    display: inline-block;
    font-family: Anton;
    font-size: 3rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: var(--yellow);

    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.contextText>div>p {
    margin-top: 0.5rem;
    font-family: "Gelex";
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 100%;
    line-height: 1.3rem;
    word-wrap: nowrap;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.contextText2>*,
.contextText4>* {
    text-align: right;
}

.contextText1 {
    margin-top: 30rem;
    margin-left: 45rem;
}

.contextText2 {
    margin-top: 30rem;
    margin-left: 15rem;
}

.contextText3 {
    margin-top: 30rem;
    margin-left: 45rem;
}

.contextText4 {
    margin-top: 22rem;
    margin-left: 20rem;
}

.bgTextCon {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bgText1,
.bgText2 {
    display: flex;
    text-transform: uppercase;
}

.bgText1>*,
.bgText2>* {
    font-size: 30rem;
    line-height: 32rem;
    letter-spacing: 2rem;

    color: rgba(0, 0, 0, 0) !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--yellow);

    opacity: 0.5;
}

.bgText1 {
    animation: moveleft 120s linear infinite;
}

.bgText2 {
    animation: moveright 120s linear infinite;
}

.bgText3 {
    animation: moveright2 120s linear infinite;
}

@keyframes moveleft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes moveright {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(50%);
    }
}

@keyframes moveright2 {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.curosol {
    width: 100vw;
    position: relative;
    height: 100vh;
    background: var(--yellow);

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    animation: all 3s ease-in-out;
}

.curosol::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(-45deg,
            black 25%,
            gray 0px,
            gray 50%,
            black 0px,
            black 75%,
            gray 0px) 0% 0% / 5px 5px;
    opacity: 0.1;
}

.curosolTitle {
    font-family: Anton;
    font-size: 8rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: black;
    padding-bottom: 1rem;
}

.StupidBtn,
.StupidBtn2 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    right: 10%;
    bottom: 10%;
    z-index: 1000;
    display: none;
}

.StupidBtn>img,
.StupidBtn2>img {
    height: 70px;
}

.StupidBtn2 {
    left: 10%;
}

.sliderScrollCon {
    width: 100vw;
}
