@font-face {
    font-family: "Gelex";
    src: url("../../../public/fonts/Gelix/Gellix-SemiBold.woff");
}

#canvas {
    width: 100vw;
    height: 100svh;
}

.heroSec {
    position: relative;
}

.temp {
    width: 100%;
    height: 100vh;
}

.shadeCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: linear-gradient(-45deg,
            black 25%,
            gray 0px,
            gray 50%,
            black 0px,
            black 75%,
            gray 0px) 0% 0% / 5px 5px;
}

.heroImg {
    width: 100vw;
    height: 100vh;
    background: url("/Aquatica/first.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    z-index: -10;
}

.heroContent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.heroNav {
    width: 100%;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    background: linear-gradient(rgba(0, 0, 0, 1) -60%, rgba(0, 0, 0, 0) 90%);
}

.heroTitle {
    padding-top: 2rem;
    padding-left: 3.5rem;
}

.heroTitle>h1 {
    font-family: Anton;
    font-size: 12rem;
    font-size: clamp(3rem, 10vw, 12rem);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.6);
}

.heroTitle>p {
    font-family: "Big Shoulders Display";
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 100%;
    line-height: 3rem;
    opacity: 0.7;

    text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.6);
}

.herofooter {
    position: absolute;
    bottom: 0;
    background: black;
    width: 100vw;
    z-index: 1;
}

.slider {
    display: flex;
    width: 200vw;
    overflow: hidden;
}

.slideContent {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    animation: scrollAnimation 15s linear infinite;
}

.slideContent>h1 {
    font-family: Anton;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    color: var(--yellow);
    font-style: italic;
}

.hollow {
    color: rgba(0, 0, 0, 0) !important;
    -webkit-text-stroke: 2px var(--yellow);
    text-stroke: 2px var(--yellow);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.slideContent>img {
    height: 1.2rem;
    margin-inline: 2rem;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

    /* mask: url("/Aquatica/mask.png"); */
    /* mask-repeat: no-repeat; */
    /* mask-position-y: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.slide1 {
    z-index: 100;

    background: url("/Aquatica/second.png");
    background-size: cover;
}

.slide2 {
    background: url("/Aquatica/third.png");
    background-size: cover;
    z-index: 200;
}

.slide3 {
    background: url("/Aquatica/fourth.png");
    background-size: cover;
    z-index: 300;
}

.slide4 {
    background: url("/Aquatica/fourth.png");
    background-size: cover;
    z-index: 400;
}

.slide5 {
    z-index: 500;
}

.contextText {
    opacity: 0;
    display: flex;
    gap: 1.5rem;
    position: relative;
    z-index: 10;
    /* background-color: rgba(0, 0, 0, 0.15); */
    width: fit-content;
    border-radius: 3rem;
    backdrop-filter: blur(2px);
}

.contextText>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}

.contextText>h1 {
    font-family: Anton;
    color: var(--yellow);
    font-size: 12rem;
    line-height: 12rem;

    color: rgba(0, 0, 0, 0) !important;
    -webkit-text-stroke: 5px var(--yellow);
    text-stroke: 5px var(--yellow);
}

.contextText>div>h1 {
    display: inline-block;
    font-family: Anton;
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: var(--yellow);

    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.contextText>div>p {
    margin-top: 1rem;
    font-family: "Gelex";
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 100%;
    line-height: 1.3rem;

    text-shadow: 4px 4px 18px rgba(0, 0, 0, 1);
}

.contextText2>*,
.contextText4>* {
    text-align: right;
}

.contextText1 {
    margin-top: 35rem;
    margin-left: 55rem;
}

.contextText2 {
    margin-top: 32rem;
    margin-left: 20rem;
}

.contextText3 {
    margin-top: 37rem;
    margin-left: 65rem;
}

.contextText4 {
    margin-top: 32rem;
    margin-left: 20rem;
}

.bgTextCon {
    position: absolute;
    /* z-index: 1; */
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bgText1,
.bgText2 {
    display: flex;
    text-transform: uppercase;
    /* width: 200vw; */
}

.bgText1>*,
.bgText2>* {
    /* width: 100vw; */
    font-family: Anton;
    font-size: 30rem;
    line-height: 32rem;
    letter-spacing: 2rem;
    color: rgba(0, 0, 0, 0.4) !important;
    -webkit-text-stroke: 1px var(--yellow);
    text-stroke: 1px var(--yellow);
    opacity: 0.5;
}

.bgText1 {
    animation: moveleft 120s linear infinite;
}

.bgText2 {
    animation: moveright 120s linear infinite;
}

@keyframes moveleft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes moveright {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.curosol {
    width: 100vw;
    position: relative;
    height: 100vh;
    background: var(--yellow);

    overflow: hidden;
    display: flex;
    align-items: center;

    animation: all 3s ease-in-out;
}

.StupidBtn,
.StupidBtn2 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    right: 10%;
    bottom: 10%;
    z-index: 1000;
    display: none;
}

.StupidBtn>img,
.StupidBtn2>img {
    height: 70px;
}

.StupidBtn2 {
    left: 10%;
}

.catCardCon {
    width: 100%;
    /* height: 100%; */
    display: flex;
    /* gap: 2rem; */
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    padding-inline: 1rem;
    transition: transform 0.3s ease;
}

.catCard {
    width: 10rem;
    height: 38rem;
    border: 2px solid black;
    border-radius: 1rem;
    transition: all 0.5s ease;

    background: url("/Aquatica/bg.png");
    background-size: cover;
    background-position: center;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.catCard:hover {
    width: 25rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.catCard>p {
    font-family: Anton;
    font-size: 1.1rem;
    height: 6rem;
    transition: all 1.3s ease;
    opacity: 0;
    word-wrap: nowrap;
}

.catCard:hover>p,
.catCardActive {
    opacity: 0.8;
    margin-top: 1rem;
    /* height: fit-content; */
}

.catCard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 130%);
    z-index: 5;
}

.catCard>* {
    z-index: 10;
}

.catCard:hover>div>h1,
.catCardActive {
    transform: rotate(0deg) translateX(0rem) translateY(0%);
    transform-origin: 0% -50%;
}

.catCard>div>h1 {
    font-family: Anton;
    font-size: 2rem;
    height: 100%;

    letter-spacing: 0.2rem;
    text-transform: capitalize;
    text-wrap: nowrap;

    transition: all 0.3s ease;

    transform: rotate(-90deg) translateX(-9rem) translateY(-30%);
    transform-origin: 0% -100%;
}

.theLore {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6rem;
}

.loreText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.loreText>h1 {
    font-family: Anton;
    text-align: center;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--yellow);
}

.loreText>p {
    font-family: "Gelex";
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    width: 100%;
    line-height: 2rem;
    text-align: center;
    width: 40vw;
}

.loreText>a {
    font-family: "Big Shoulders Display";
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 0;

    text-transform: capitalize;
    text-align: center;
    background: var(--yellow);
    text-decoration: none;
    color: black;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.nft {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 5fr 3fr;
    /* gap: 1rem; */
    padding-left: 15rem;

    align-items: center;
    justify-content: center;

    position: relative;
}

.nftImgCon>img {
    width: 35vw;
}

.nftText {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nftImgCon {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.nftText>h1 {
    font-family: Anton;
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--yellow);
}

.nftText>p {
    font-family: "Gelex";
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    width: 100%;
    line-height: 2rem;
    width: 40vw;
}

.nftText>a {
    font-family: "Big Shoulders Display";
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0;

    width: fit-content;

    text-transform: capitalize;
    text-align: center;
    background: var(--yellow);
    text-decoration: none;
    color: black;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.nftImgCon::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: -13%;
    left: -13%;
    width: 500px;
    height: 500px;
    background-color: #3330e4;
    border-radius: 100%;
    filter: blur(100px);
    opacity: 0.4;
}

.bgText {
    width: 100vw;
    text-align: center;
    position: absolute;
    z-index: -1;
    top: 0;

    display: flex;
    justify-content: space-evenly;
}

.bgText>h1 {
    font-family: "Big Shoulders Display";
    font-size: 100vh;
    line-height: 100vh;
    width: fit-content;
    color: rgba(0, 0, 0, 0) !important;
    -webkit-text-stroke: 4px white;
    text-stroke: 4px white;
    opacity: 0.1;
}

.socials {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialCon {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: fit-content;
}

.socialCon>h1,
.socialCon>h1>span {
    font-family: Anton;
    font-size: 8rem;
    line-height: 8rem;
}

.socialCon>h1>span {
    background: -webkit-linear-gradient(var(--yellow), #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellow {
    color: var(--yellow);
}

.socialCon>form {
    height: 8rem;
}

.socialCon>form {
    border-radius: 0.5rem;
    border: 3px solid var(--yellow);
}

.socialCon>form {
    display: flex;
}

.socialCon>form>input {
    width: 100%;
    background: none;
    border: none;
    color: white;
    padding-left: 5rem;
    font-family: Anton;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.socialCon>form>button {
    border: none;
    background: var(--yellow);
    font-family: Anton;
    font-size: 2.5rem;
    padding-inline: 6rem;
}
.modelTextCon {
    position: absolute;
    top: 5%;
    left: 5%;
}

.modelText {
    font-family: "Big Shoulders Display";
    font-size: 2.3rem;
    width: 40vw;
    line-height: 3rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--yellow);
    position: absolute;
    opacity: 0;
}
